@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --background-secondary: #18181b;
  --foreground: #ededed;
  --blue: #1d4ed8;
  --border-color: #3f3f46;
  --body-max-width: 1500px;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  max-width: var(--body-max-width);
  margin: 0 auto;
}

.divider {
      display: flex;
  align-items: center;
  text-align: center;
  margin: 20px 0;

}

.divider::before,
.divider::after{
    content: " ";
    flex: 1;
    border-bottom: 1px solid var(--border-color);
}


.input-field{
    border: 1px solid var(--border-color);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    outline: none;
}


.switch-btn{
    color: var(--blue);
    cursor: pointer;
}
.switch-btn:hover{
    color: var(--blue);
    opacity: 0.8;
}

.eye-slash{
    opacity: 0.5;
    cursor: pointer;
}
.eye-slash:hover{
    opacity: 1;
}

label{
    display: flex;
    flex-direction: column;
}

.error{
    color: red;
    font-size: 0.7rem;
    font-style: italic;
}

.btn{
    border-radius: 0.5rem;
    padding: 0.5rem 2rem;
    background-color: var(--blue);
    cursor: pointer;
}
